extends ../layout/common
block content
  a.btn.btn-warning.mt-2(href="/users/create") Add new user
  h1 User List
  .d-flex.align-items-center
    form.d-flex(action="/users/search", method="GET")
      input.form-control(type="text", name="q")
      button.btn.btn-success.ms-2 Search
  
  table.table
    thead
      tr
        th(scope='col') Name
        th(scope='col') Phone
        th(scope='col') Action
    tbody
      each user in users
        tr
          td= user.name
          td= user.phoneNumber
          td
            a.btn.btn-primary(href="/users/view/" + user.id) View

            a.btn.btn-danger.ms-2(href="/users/delete/" + user.id) Delete

    